/* Func */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Page */ 
body { background-color: #dcdbd2; }

#app { 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts_menu { 
    width: 400px;
    height: calc(100% - 50px);
    margin: 25px 0px;
    background-color: red;
}

#conversation { 
    width: 850px;
    height: calc(100% - 50px);
    margin: 25px 0px;
    background-color: blue;
}

.upper_menu {
    height: 100px;
    background-color: blueviolet;
}

.notify_me {
    height: 120px;
}

.search_contact { 
    height: 65px;
}

.contacts {
    height: calc(100% - 285px);
    background-color: white;
}

.messages { 
    background: url('../img/mine.jpg');
    background-size: contain;
    height: calc(100% - 200px);
}

.inputs { 
    height: 100px;
}

/* Colors */
.bg_light_gray { background-color: #eaeaea; }

.bg_light_gray2 { background-color: #f2f2f2; }

.bg_light_blue { background-color: #8edafc; }

